* {

margin: auto;
padding: 0;


}

body {
    margin: auto;
    margin-top: 5px;
    text-align: center;
}

button {

height: 50px;
width:150px;
cursor: pointer;



}

div {
margin: auto;
margin-top: 150px;
height: 200px;
width: 600px;
background-color: black;




}